/*==============================*/
/*AJUSTES GENERALES*/
/*==============================*/

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #24211b;
  color: white;
  font-family: "inter", sans-serif;
}

section {
  position: relative;
}

h2 {
  z-index: 6;
}

#about,
#proy-content,
#contact {
  background: rgb(255, 201, 0);
  background: radial-gradient(
    circle,
    rgba(255, 201, 0, 1) 27%,
    rgba(201, 144, 62, 1) 92%
  );
}

.unselected {
  opacity: 25%;
}

#flexRadioDefault1 {
  background-image: url("./assets/img/idiomas/spain.png");
  border-color: #e9b121;
  opacity: 50%;
}

#flexRadioDefault1:checked {
  background-image: url("./assets/img/idiomas/spain.png");
  border-color: #e9b121;
  opacity: 100%;
}

#flexRadioDefault2 {
  background-image: url("./assets/img/idiomas/usa.png");
  border-color: #e9b121;
  opacity: 50%;
}

#flexRadioDefault2:checked {
  background-image: url("./assets/img/idiomas/usa.png");
  border-color: #e9b121;
  opacity: 100%;
}

/*HEADER*/

#header-img-container {
  padding: 30% 0% 30% 0%;
}

#headerImg {
  position: absolute;
  top: -15%;
  left: 32%;
  z-index: 1;
}

/*ABOUT*/

#about {
  z-index: 2;
}

#about-content {
  background: rgb(227, 171, 40);
  background: linear-gradient(
    176deg,
    rgba(227, 171, 40, 1) 52%,
    rgba(201, 144, 61, 1) 99%
  );
}

/*TECNO*/

#tecno-row-1,
#tecno-row-2 {
  font-size: 0.7rem;
}

/*================================*/
/*MEDIA QUERIES*/
/*================================*/
/*=============================*/
/*MEDIA QUERIE MOBILE*/
/*=============================*/

@media screen and (min-width: 320px) and (max-width: 760px) {
  #headerImg {
    width: 75%;
  }

  #inicio h1 {
    z-index: 7;
  }

  #inicio h3 {
    font-size: 1.3rem;
    z-index: 7;
  }

  #about-content h2,
  p {
    position: relative;
    z-index: 7;
  }

  .proyecto img {
    width: 100%;
  }

  .proyecto .proy-tecs div img {
    width: 50%;
  }

  .proyecto .proy-github-img {
    width: 15%;
  }

  #malditohard-img {
    width: 50%;
  }

  #edu h2 {
    position: relative;
    z-index: 7;
  }

  #github-logo-footer {
    width: 25%;
  }
}

/*=============================*/
/*MEDIA QUERIE TABLET*/
/*=============================*/

@media screen and (min-width: 760px) and (max-width: 1024px) {
  #inicio {
    z-index: 7;
  }

  #about-content {
    padding-bottom: 15%;
  }

  .proyecto {
    margin-top: 10%;
  }

  .proy-header img {
    width: 100%;
  }

  .proy-tecs img {
    width: 50%;
  }

  .proy-github-img {
    width: 5%;
  }

  #github-logo-footer {
    width: 10%;
  }
}

/*=============================*/
/*MEDIA QUERIE DESKTOP*/
/*=============================*/

@media screen and (min-width: 1024px) and (max-width: 1920px) {
  #inicio {
    z-index: 7;
  }

  #inicio h1 {
    font-size: 5rem;
  }

  #inicio h3 {
    font-size: 2rem;
  }

  #header-img-container {
    padding: 10%;
    padding-bottom: 1%;
  }

  #headerImg {
    width: 25%;
    top: -150%;
    left: 70%;
    z-index: 7;
  }

  #about-content {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-content h2 {
    width: 60%;
    z-index: 7;
  }

  #about-content p {
    width: 60%;
  }

  #tecno-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0% 5% 0%;
  }

  .tecnos p {
    font-size: 1rem;
  }

  #proy h2 {
    font-size: 3rem;
  }

  .proyecto {
    margin: 5% 10% 5% 10%;
  }

  .proyecto img {
    width: 100%;
  }

  .proyecto .proy-header {
    width: 50%;
  }

  .proy-header h3 {
    padding-bottom: 3%;
    font-size: 2rem;
  }

  .proyecto .proy-info {
    width: 50%;
  }

  .proyecto p {
    font-size: 1.5rem;
  }

  .proyecto .proy-tecs div img {
    width: 35%;
  }

  .proyecto .proy-github-img {
    width: 5%;
  }

  #malditohard-img {
    width: 40%;
  }

  #edu p {
    width: 50%;
    font-size: 1.3rem;
  }

  #carouselExampleIndicators {
    width: 40%;
  }

  #form-contacto {
    width: 40%;
  }

  #github-logo-footer {
    width: 5%;
  }
}

/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*WAVES*/
/*================================*/

/*Header*/

.wave-header-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}

.wave-header-bottom svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-header-bottom .shape-fill {
  fill: #e3ab28;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-header-bottom svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-header-bottom svg {
    width: calc(110% + 1.3px);
    height: 180px;
  }

  #headerImg {
    width: 75%;
  }
}

/*About*/

.wave-about-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-about-bottom svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-about-bottom .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-about-bottom svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-about-bottom svg {
    width: calc(121% + 1.3px);
    height: 47px;
  }
}

/*Proyectos*/

.wave-proy-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-proy-top svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-proy-top .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-proy-top svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-proy-top svg {
    width: calc(138% + 1.3px);
    height: 69px;
  }
}

/*Proyectos*/

.wave-proy-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-proy-bottom svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-proy-bottom .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-proy-bottom svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-proy-bottom svg {
    width: calc(146% + 1.3px);
    height: 85px;
  }
}

/*Contacto*/

.wave-contact-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-contact-top svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-contact-top .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-contact-top svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-contact-top svg {
    width: calc(121% + 1.3px);
    height: 99px;
  }
}

.wave-contact-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-contact-bottom svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-contact-bottom .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-contact-bottom svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-contact-bottom svg {
    width: calc(182% + 1.3px);
    height: 89px;
  }
}

/*=====================================*/
/*=====================================*/
/*=====================================*/
/*=====================================*/
/*=====================================*/
/*=====================================*/
/*BUBBLES*/
/*=====================================*/

/*HEADER*/

.bubble {
  border-radius: 50%;
  z-index: 5;
}

.bubble-header:nth-child(1) {
  width: 5rem;
  height: 5rem;
  background-color: #c29b40;
  top: 0.5rem;
  left: 12rem;
  animation: bubble-header_1-anim 7s linear infinite;
}

@keyframes bubble-header_1-anim {
  50% {
    top: 1.5rem;
  }
}

.bubble-header:nth-child(2) {
  width: 3rem;
  height: 3rem;
  background-color: #cb923c;
  top: 11rem;
  left: 2rem;
  animation: bubble-header_2-anim 5s linear infinite;
}

@keyframes bubble-header_2-anim {
  10% {
    top: 11.2rem;
  }

  50% {
    top: 11.5rem;
  }

  100% {
    top: 11rem;
  }
}

.bubble-header:nth-child(3) {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f0cf80;
  top: 2rem;
  right: 2rem;
  animation: bubble-header_3-anim 4s linear infinite;
}

@keyframes bubble-header_3-anim {
  50% {
    top: 3rem;
  }
}

/*ABOUT*/

.bubble-about:nth-child(1) {
  width: 8rem;
  height: 8rem;
  background-color: #fbc546;
  top: -1rem;
  left: 1rem;
  animation: bubble-about_1-anim 10s linear infinite;
}

@keyframes bubble-about_1-anim {
  50% {
    top: -1.5rem;
  }
}

.bubble-about:nth-child(2) {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #f0cf80;
  top: -0.1rem;
  left: 10rem;
  animation: bubble-about_2-anim 8s linear infinite;
}

@keyframes bubble-about_2-anim {
  50% {
    top: 1rem;
  }
}

.bubble-about:nth-child(3) {
  width: 3rem;
  height: 3rem;
  background-color: #f0cf80;
  top: 20.5rem;
  left: 1rem;
  animation: bubble-about_3-anim 12s linear infinite;
}

@keyframes bubble-about_3-anim {
  50% {
    top: 21rem;
  }
}

.bubble-about:nth-child(4) {
  width: 2rem;
  height: 2rem;
  background-color: #f5b82a;
  top: 22rem;
  left: 13rem;
  animation: bubble-about_4-anim 10s linear infinite;
}

@keyframes bubble-about_4-anim {
  50% {
    top: 21rem;
  }
}

.bubble-about:nth-child(5) {
  width: 4rem;
  height: 4rem;
  background-color: #edbc4b;
  top: 19rem;
  left: 20rem;
  overflow-x: hidden;
  animation: bubble-about_5-anim 11s linear infinite;
}

@keyframes bubble-about_5-anim {
  50% {
    top: 20rem;
  }
}

/*PROYECTS*/

.bubble-proy:nth-child(1) {
  width: 5rem;
  height: 5rem;
  background-color: #e9a43d;
  top: -3rem;
  left: -1rem;
  z-index: 5;
  animation: bubble-proy_1-anim 10s linear infinite;
}

@keyframes bubble-proy_1-anim {
  50% {
    top: -3.2rem;
  }
}

.bubble-proy:nth-child(2) {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #f0cf80;
  top: -0rem;
  left: 5rem;
  z-index: 5;
  animation: bubble-proy_2-anim 8s linear infinite;
}

@keyframes bubble-proy_2-anim {
  50% {
    top: 0.5rem;
  }
}

.bubble-proy:nth-child(3) {
  width: 3rem;
  height: 3rem;
  background-color: #f5b82a;
  top: -1.5rem;
  right: 1rem;
  z-index: 5;
  animation: bubble-proy_3-anim 12s linear infinite;
}

@keyframes bubble-proy_3-anim {
  50% {
    top: -1rem;
  }
}

.bubble-proy:nth-child(4) {
  width: 1rem;
  height: 1rem;
  background-color: #cb923c;
  top: -2rem;
  left: 5rem;
  z-index: 5;
  animation: bubble-proy_4-anim 10s linear infinite;
}

@keyframes bubble-proy_4-anim {
  50% {
    top: -3rem;
  }
}

.bubble-proy:nth-child(5) {
  width: 2rem;
  height: 2rem;
  background-color: #f0cf80;
  top: -3rem;
  right: 4rem;
  overflow-x: hidden;
  z-index: 5;
  animation: bubble-proy_5-anim 11s linear infinite;
}

@keyframes bubble-proy_5-anim {
  50% {
    top: -4rem;
  }
}

/*EDUCATION*/

.bubble-edu:nth-child(1) {
  width: 3rem;
  height: 3rem;
  background-color: #e3ab28;
  top: 2rem;
  right: 5rem;
  overflow-x: hidden;
  z-index: 5;
  animation: bubble-edu_1-anim 11s linear infinite;
}

@keyframes bubble-edu_1-anim {
  50% {
    top: 1rem;
  }
}

.bubble-edu:nth-child(2) {
  width: 2rem;
  height: 2rem;
  background-color: #edbc4b;
  top: 2rem;
  right: 2em;
  overflow-x: hidden;
  z-index: 5;
  animation: bubble-edu_2-anim 9s linear infinite;
}

@keyframes bubble-edu_2-anim {
  50% {
    top: 3rem;
  }
}

.bubble-edu:nth-child(3) {
  width: 2rem;
  height: 2rem;
  background-color: #cb923c;
  top: 3rem;
  right: -1rem;
  overflow-x: hidden;
  z-index: 5;
  animation: bubble-edu_3-anim 10s linear infinite;
}

@keyframes bubble-edu_3-anim {
  50% {
    top: 2rem;
  }
}

/*CONTACT*/

/*TOP*/

.bubble-contact-top:nth-child(1) {
  width: 4rem;
  height: 4rem;
  background-color: #e3ab28;
  top: -1.5rem;
  left: 2rem;
  overflow-x: hidden;
  z-index: 5;
  animation: bubble-contact-top_1-anim 11s linear infinite;
}

@keyframes bubble-contact-top_1-anim {
  50% {
    top: -2rem;
  }
}

.bubble-contact-top:nth-child(2) {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #edbc4b;
  top: -2rem;
  right: 4.5em;
  overflow-x: hidden;
  z-index: 5;
  animation: bubble-contact-top_2-anim 9s linear infinite;
}

@keyframes bubble-contact-top_2-anim {
  50% {
    top: -1.5rem;
  }
}

.bubble-contact-top:nth-child(3) {
  width: 3rem;
  height: 3rem;
  background-color: #cb923c;
  top: -1rem;
  right: 1rem;
  overflow-x: hidden;
  z-index: 5;
  animation: bubble-contact-top_3-anim 10s linear infinite;
}

@keyframes bubble-contact-top_3-anim {
  50% {
    top: -1.5rem;
  }
}

/*BOTTOM*/

.bubble-contact-bottom:nth-child(1) {
  width: 4rem;
  height: 4rem;
  background-color: #e3ab28;
  top: -2rem;
  right: 8rem;
  overflow-x: hidden;
  z-index: 5;
  animation: bubble-contact-bottom_1-anim 11s linear infinite;
}

@keyframes bubble-contact-bottom_1-anim {
  50% {
    top: -2.5rem;
  }
}

.bubble-contact-bottom:nth-child(2) {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #edbc4b;
  top: -2rem;
  right: 4em;
  overflow-x: hidden;
  z-index: 5;
  animation: bubble-contact-bottom_2-anim 9s linear infinite;
}

@keyframes bubble-contact-bottom_2-anim {
  50% {
    top: -1.5rem;
  }
}

/*===============================*/
/*===============================*/
/*===============================*/
/*===============================*/
/*===============================*/
/*===============================*/
/*===============================*/
/*===============================*/
/*MEDIA QUERIES BUBBLES*/
/*===============================*/

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .bubble-header:nth-child(2) {
    width: 2rem;
    height: 2rem;
    background-color: #cb923c;
    top: 11rem;
    left: 15rem;
  }

  .bubble-about:nth-child(1) {
    width: 5rem;
    height: 5rem;
    background-color: #fbc546;
    top: -25rem;
    left: 10rem;
    animation: bubble-about_1-anim 10s linear infinite;
  }

  @keyframes bubble-about_1-anim {
    50% {
      top: -27rem;
    }
  }

  .bubble-about:nth-child(2) {
    width: 5rem;
    height: 5rem;
    background-color: #eab15d;
    top: -20rem;
    left: 3rem;
    animation: bubble-about_2-anim 8s linear infinite;
  }

  @keyframes bubble-about_2-anim {
    50% {
      top: -17rem;
    }
  }

  .bubble-about:nth-child(3) {
    width: 3rem;
    height: 3rem;
    background-color: #f0cf80;
    top: -10rem;
    left: 8rem;
    animation: bubble-about_3-anim 12s linear infinite;
  }

  @keyframes bubble-about_3-anim {
    50% {
      top: -12rem;
    }
  }

  .bubble-about:nth-child(4) {
    width: 4rem;
    height: 4rem;
    background-color: #f5b82a;
    top: -40rem;
    left: 30rem;
    animation: bubble-about_4-anim 5s linear infinite;
  }

  @keyframes bubble-about_4-anim {
    50% {
      top: -42rem;
    }
  }

  .bubble-about:nth-child(5) {
    width: 4rem;
    height: 4rem;
    background-color: #edbc4b;
    top: -40rem;
    left: 20rem;
    overflow-x: hidden;
    animation: bubble-about_5-anim 11s linear infinite;
  }

  @keyframes bubble-about_5-anim {
    50% {
      top: -42rem;
    }
  }
}

@media screen and (min-width: 1023px) and (max-width: 1920px) {
  .bubble-header:nth-child(1) {
    width: 8rem;
    height: 8rem;
    background-color: #c29b40;
    top: 0.5rem;
    left: 30rem;
  }

  .bubble-header:nth-child(2) {
    width: 6rem;
    height: 6rem;
    background-color: #cb923c;
    top: 11rem;
    left: 45rem;
  }

  .bubble-header:nth-child(3) {
    width: 4rem;
    height: 4rem;
    background-color: #f0cf80;
    top: 2rem;
    right: 45rem;
  }

  /*ABOUT*/

  .bubble-about:nth-child(1) {
    width: 5rem;
    height: 5rem;
    background-color: #fbc546;
    top: -15rem;
    left: 20rem;
    animation: bubble-about_1-anim 10s linear infinite;
  }

  @keyframes bubble-about_1-anim {
    50% {
      top: -17rem;
    }
  }

  .bubble-about:nth-child(2) {
    width: 5rem;
    height: 5rem;
    background-color: #eab15d;
    top: -15rem;
    left: 65rem;
    animation: bubble-about_2-anim 8s linear infinite;
  }

  @keyframes bubble-about_2-anim {
    50% {
      top: -17rem;
    }
  }

  .bubble-about:nth-child(3) {
    width: 3rem;
    height: 3rem;
    background-color: #f0cf80;
    top: -20rem;
    left: 60rem;
    animation: bubble-about_3-anim 12s linear infinite;
  }

  @keyframes bubble-about_3-anim {
    50% {
      top: -21rem;
    }
  }

  .bubble-about:nth-child(4) {
    width: 2rem;
    height: 2rem;
    background-color: #f5b82a;
    top: -10rem;
    left: 30rem;
    animation: bubble-about_4-anim 5s linear infinite;
  }

  @keyframes bubble-about_4-anim {
    50% {
      top: -12rem;
    }
  }

  .bubble-about:nth-child(5) {
    width: 4rem;
    height: 4rem;
    background-color: #edbc4b;
    top: -10rem;
    left: 75rem;
    overflow-x: hidden;
    animation: bubble-about_5-anim 11s linear infinite;
  }

  @keyframes bubble-about_5-anim {
    50% {
      top: -9rem;
    }
  }

  /*PROYECTS*/

  .bubble-proy:nth-child(1) {
    width: 5rem;
    height: 5rem;
    background-color: #e9a43d;
    top: -10rem;
    left: -1rem;
    z-index: 5;
    animation: bubble-proy_1-anim 10s linear infinite;
  }

  @keyframes bubble-proy_1-anim {
    50% {
      top: -11rem;
    }
  }

  .bubble-proy:nth-child(2) {
    width: 3rem;
    height: 3rem;
    background-color: #f0cf80;
    top: -8rem;
    left: 7rem;
    z-index: 5;
    animation: bubble-proy_2-anim 8s linear infinite;
  }

  @keyframes bubble-proy_2-anim {
    50% {
      top: -7rem;
    }
  }

  .bubble-proy:nth-child(3) {
    width: 5rem;
    height: 5rem;
    background-color: #f5b82a;
    top: -5rem;
    right: 10rem;
    z-index: 5;
    animation: bubble-proy_3-anim 12s linear infinite;
  }

  @keyframes bubble-proy_3-anim {
    50% {
      top: -7rem;
    }
  }

  .bubble-proy:nth-child(4) {
    width: 3rem;
    height: 3rem;
    background-color: #f5b82a;
    top: -4rem;
    left: 4rem;
    z-index: 5;
    animation: bubble-proy_4-anim 10s linear infinite;
  }

  @keyframes bubble-proy_4-anim {
    50% {
      top: -3rem;
    }
  }

  .bubble-proy:nth-child(5) {
    width: 2rem;
    height: 2rem;
    background-color: #f0cf80;
    top: -3rem;
    right: 4rem;
    overflow-x: hidden;
    z-index: 5;
    animation: bubble-proy_5-anim 11s linear infinite;
  }

  @keyframes bubble-proy_5-anim {
    50% {
      top: -4rem;
    }
  }

  /*EDUCATION*/

  .bubble-edu:nth-child(1) {
    width: 6.5rem;
    height: 6.5rem;
    background-color: #e3ab28;
    top: 2rem;
    right: 20rem;
    overflow-x: hidden;
    z-index: 5;
    animation: bubble-edu_1-anim 11s linear infinite;
  }

  @keyframes bubble-edu_1-anim {
    50% {
      top: 1rem;
    }
  }

  .bubble-edu:nth-child(2) {
    width: 4rem;
    height: 4rem;
    background-color: #edbc4b;
    top: 1rem;
    right: 8rem;
    overflow-x: hidden;
    z-index: 5;
    animation: bubble-edu_2-anim 9s linear infinite;
  }

  @keyframes bubble-edu_2-anim {
    50% {
      top: 3rem;
    }
  }

  .bubble-edu:nth-child(3) {
    width: 3rem;
    height: 3rem;
    background-color: #cb923c;
    top: 3rem;
    right: 1rem;
    overflow-x: hidden;
    z-index: 5;
    animation: bubble-edu_3-anim 10s linear infinite;
  }

  @keyframes bubble-edu_3-anim {
    50% {
      top: 2rem;
    }
  }

  /*CONTACT*/

  /*TOP*/

  .bubble-contact-top:nth-child(1) {
    width: 6rem;
    height: 6rem;
    background-color: #e3ab28;
    top: -7rem;
    left: 2rem;
    overflow-x: hidden;
    z-index: 5;
    animation: bubble-contact-top_1-anim 11s linear infinite;
  }

  @keyframes bubble-contact-top_1-anim {
    50% {
      top: -6rem;
    }
  }

  .bubble-contact-top:nth-child(2) {
    width: 3rem;
    height: 3rem;
    background-color: #edbc4b;
    top: -2rem;
    right: 7em;
    overflow-x: hidden;
    z-index: 5;
    animation: bubble-contact-top_2-anim 9s linear infinite;
  }

  @keyframes bubble-contact-top_2-anim {
    50% {
      top: -1.5rem;
    }
  }

  .bubble-contact-top:nth-child(3) {
    width: 5rem;
    height: 5rem;
    background-color: #cb923c;
    top: -7rem;
    right: 1rem;
    overflow-x: hidden;
    z-index: 5;
    animation: bubble-contact-top_3-anim 8s linear infinite;
  }

  @keyframes bubble-contact-top_3-anim {
    50% {
      top: -6rem;
    }
  }

  /*BOTTOM*/

  .bubble-contact-bottom:nth-child(1) {
    width: 6rem;
    height: 6rem;
    background-color: #e3ab28;
    top: 1rem;
    right: 8rem;
    overflow-x: hidden;
    z-index: 5;
    animation: bubble-contact-bottom_1-anim 11s linear infinite;
  }

  @keyframes bubble-contact-bottom_1-anim {
    50% {
      top: 1rem;
    }
  }

  .bubble-contact-bottom:nth-child(2) {
    width: 3rem;
    height: 3rem;
    background-color: #edbc4b;
    top: 2rem;
    right: 4em;
    overflow-x: hidden;
    z-index: 5;
    animation: bubble-contact-bottom_2-anim 9s linear infinite;
  }

  @keyframes bubble-contact-bottom_2-anim {
    50% {
      top: 1rem;
    }
  }
}
