body {
  margin: 0;
  overflow-x: hidden;
  background-color: #24211b;
  color: white;
  font-family: "inter", sans-serif;
}

section {
  position: relative;
}

#about,
#proy-content,
#contact {
  background: rgb(255, 201, 0);
  background: radial-gradient(
    circle,
    rgba(255, 201, 0, 1) 27%,
    rgba(201, 144, 62, 1) 92%
  );
}

.unselected {
  opacity: 25%;
}

#flexRadioDefault1 {
  background-image: url("./assets/img/idiomas/spain.png");
  border-color: #e9b121;
  opacity: 50%;
}

#flexRadioDefault1:checked {
  background-image: url("./assets/img/idiomas/spain.png");
  border-color: #e9b121;
  opacity: 100%;
}

#flexRadioDefault2 {
  background-image: url("./assets/img/idiomas/usa.png");
  border-color: #e9b121;
  opacity: 50%;
}

#flexRadioDefault2:checked {
  background-image: url("./assets/img/idiomas/usa.png");
  border-color: #e9b121;
  opacity: 100%;
}

/*HEADER*/

#header-img-container {
  padding: 30% 0% 30% 0%;
}

#headerImg {
  position: absolute;
  top: -15%;
  left: 32%;
  z-index: 1;
}

/*ABOUT*/

#about {
  z-index: 2;
}

#about-content {
  background: rgb(227, 171, 40);
  background: linear-gradient(
    176deg,
    rgba(227, 171, 40, 1) 52%,
    rgba(201, 144, 61, 1) 99%
  );
}

/*TECNO*/

#tecno-row-1,
#tecno-row-2 {
  font-size: 0.7rem;
}

/*==========================*/
/*WAVES*/

/*Header*/

.wave-header-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}

.wave-header-bottom svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-header-bottom .shape-fill {
  fill: #e3ab28;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-header-bottom svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-header-bottom svg {
    width: calc(110% + 1.3px);
    height: 180px;
  }
}

/*About*/

.wave-about-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-about-bottom svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-about-bottom .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-about-bottom svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-about-bottom svg {
    width: calc(121% + 1.3px);
    height: 47px;
  }
}

/*Proyectos*/

.wave-proy-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-proy-top svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-proy-top .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-proy-top svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-proy-top svg {
    width: calc(138% + 1.3px);
    height: 69px;
  }
}

/*Proyectos*/

.wave-proy-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-proy-bottom svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-proy-bottom .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-proy-bottom svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-proy-bottom svg {
    width: calc(146% + 1.3px);
    height: 85px;
  }
}

/*Contacto*/

.wave-contact-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-contact-top svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-contact-top .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-contact-top svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-contact-top svg {
    width: calc(121% + 1.3px);
    height: 99px;
  }
}

.wave-contact-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-contact-bottom svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 63px;
}

.wave-contact-bottom .shape-fill {
  fill: #24211b;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wave-contact-bottom svg {
    width: calc(106% + 1.3px);
    height: 93px;
  }
}

@media (max-width: 767px) {
  .wave-contact-bottom svg {
    width: calc(182% + 1.3px);
    height: 89px;
  }
}

/*=====================================*/

/*BUBBLES*/

.bubble {
  border-radius: 50%;
}

.bubble-header:nth-child(1) {
  width: 5rem;
  height: 5rem;
  background-color: #c29b40;
  top: 0.5rem;
  left: 12rem;
  animation: bubble-header_1-anim 10s linear infinite;
}

@keyframes bubble-header_1-anim {
  50% {
    top: 1.5rem;
  }
}

.bubble-header:nth-child(2) {
  width: 3rem;
  height: 3rem;
  background-color: #cb923c;
  top: 11rem;
  left: 2rem;
  animation: bubble-header_2-anim 8s linear infinite;
}

@keyframes bubble-header_2-anim {
  10% {
    top: 11.2rem;
  }

  50% {
    top: 11.5rem;
  }

  100% {
    top: 11rem;
  }
}

.bubble-header:nth-child(3) {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f0cf80;
  top: 2rem;
  right: 2rem;
  animation: bubble-header_3-anim 12s linear infinite;
}

@keyframes bubble-header_3-anim {
  50% {
    top: 3rem;
  }
}
